.filter-container .filter-box input,
.filter-container .filter-box select {
  border: none;
  outline: none;
  padding: 14px;
  width: 220px;
  font-size: 16px;
  background-color: #212121;
  color: var(--primary-color);
}

.fpl-name-td {
  cursor: pointer;
}

@media (max-width: 767px) {
  .filter-container .filter-box {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
  }
}
